In [3]:
# %%shell
# jupyter nbconvert --to html /content/Hackathon_Restaurant_Turnover_Prediction.ipynb

In [1]:
# Make the Python code more structured automatically
#%load_ext nb_black

# Libraries to help with reading and manipulating data
import numpy as np
import pandas as pd

# Libraries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("darkgrid")

# This is so I can see the entire dataframe when I print it
pd.set_option("display.max_columns", None)

# to split the data into train and test
from sklearn.model_selection import train_test_split

# to build linear regression_model
from sklearn.linear_model import LinearRegression

# to check model performance
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# to build linear regression_model using statsmodels
import statsmodels.api as sm

# to check for homoscedasticity
import statsmodels.stats.api as sms
from statsmodels.compat import lzip

# to check for multicollinearity
from statsmodels.stats.outliers_influence import variance_inflation_factor

# to check for normality
import scipy.stats as stats

# To build model for prediction
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

# To tune different models
from sklearn.model_selection import GridSearchCV

import pandas as pd
import numpy as np
from sklearn.linear_model import RidgeCV

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [3]:
train = pd.read_csv("Train_dataset.csv")
train.head()

,Registration Number,Annual Turnover,Cuisine,City,Restaurant Location,Opening Day of Restaurant,Facebook Popularity Quotient,Endorsed By,Instagram Popularity Quotient,Fire Audit,Liquor License Obtained,Situated in a Multi Complex,Dedicated Parking,Open Sitting Available,Resturant Tier,Restaurant Type,Restaurant Theme,Restaurant Zomato Rating,Restaurant City Tier,Order Wait Time,Staff Responsivness,Value for Money,Hygiene Rating,Food Rating,Overall Restaurant Rating,Live Music Rating,Comedy Gigs Rating,Value Deals Rating,Live Sports Rating,Ambience,Lively,Service,Comfortablility,Privacy
0,60001,42000000,"indian,irish",Bangalore,Near Business Hub,14/02/09,84.3,Not Specific,95.8,1,1,1,0,1,2.0,Bar,Arabian,3,0,2,5,5,5,7,10.0,4.0,NaN,NaN,NaN,8.0,8,6,6,6
1,60002,50000000,"indian,irish",Indore,Near Party Hub,29/09/08,85.4,Tier A Celebrity,85.0,1,1,1,1,0,2.0,Bar,Greek,3,0,6,6,6,7,8,9.0,NaN,4.0,NaN,NaN,5.0,7,7,3,8
2,60003,32500000,"tibetan,italian",Chennai,Near Business Hub,30/07/11,85.0,Tier A Celebrity,68.2,1,1,1,1,0,2.0,Bar,90's,3,0,2,6,5,3,7,8.0,3.0,NaN,NaN,NaN,7.0,10,5,2,8
3,60004,110000000,"turkish,nigerian",Gurgaon,Near Party Hub,30/11/08,85.6,Tier A Celebrity,83.6,0,1,1,1,1,1.0,Bar,Arabian,3,1,7,6,5,6,8,9.0,6.0,NaN,NaN,NaN,7.0,7,4,3,5
4,60005,20000000,"irish,belgian",Manesar,Near Party Hub,22/02/10,NaN,Tier A Celebrity,76.8,1,1,1,1,1,NaN,Bar,Greek,3,0,10,5,6,4,8,6.0,NaN,2.0,NaN,NaN,NaN,6,2,4,6

In [6]:
test = pd.read_csv("Test_dataset.csv")
test.head()

,Registration Number,Cuisine,City,Restaurant Location,Opening Day of Restaurant,Facebook Popularity Quotient,Endoresed By,Instagram Popularity Quotient,Fire Audit,Liquor License Obtained,Situated in a Multi Complex,Dedicated Parking,Open Sitting Available,Resturant Tier,Restaurant Type,Restaurant Theme,Restaurant Zomato Rating,Restaurant City Tier,Order Wait Time,Staff Responsivness,Value for Money,Hygiene Rating,Food Rating,Overall Restaurant Rating,Live Music Rating,Comedy Gigs Rating,Value Deals Rating,Live Sports Rating,Ambience,Lively,Service,Comfortablility,Privacy
0,20001,"tibetan,italian",Bangalore,Near Business Hub,13/07/10,78.00,Tier A Celebrity,69.00,1,1,1,1,0,2,Bar,Greek,3,0,10,5,3,5,8,6.0,NaN,2.0,NaN,NaN,5,2,2,6,0
1,20002,"tibetan,italian",Hyderabad,Near Party Hub,05/09/11,89.17,Not Specific,96.00,1,1,1,1,1,2,Bar,Nature,4,0,10,4,5,6,8,9.0,3.0,NaN,NaN,6.0,7,8,5,1,8
2,20003,"algerian,belgian",Hyderabad,Near Party Hub,12/04/11,84.00,Not Specific,86.00,1,1,1,0,1,2,Bar,Greek,2,0,6,5,5,6,9,6.0,3.0,NaN,NaN,NaN,9,7,5,1,5
3,20004,"tibetan,greek",-1,Near Party Hub,16/01/05,79.38,Not Specific,74.40,0,1,1,1,1,2,Gastro Bar,90's,3,0,10,5,5,5,9,9.0,6.0,NaN,NaN,NaN,6,7,6,4,7
4,20005,"cuban,british",Pune,Near Party Hub,10/11/08,84.67,Not Specific,86.46,1,1,1,0,0,1,Bar,Mise En,4,1,7,5,5,7,8,NaN,NaN,NaN,NaN,NaN,4,4,7,7,3

In [4]:
#Rename Columns
train = train.rename(columns={"Resturant Tier": "Restaurant Tier"})
train = train.rename(columns={"Staff Responsivness": "Staff Responsiveness"})
train = train.rename(columns={"Comfortablility": "Comfortability"})

In [7]:
#Rename Columns
test = test.rename(columns={"Endoresed By": "Endorsed By"})
test = test.rename(columns={"Resturant Tier": "Restaurant Tier"})
test = test.rename(columns={"Staff Responsivness": "Staff Responsiveness"})
test = test.rename(columns={"Comfortablility": "Comfortability"})

In [8]:
train.shape,test.shape

((3493, 34), (500, 33))

In [9]:
df=pd.concat([train,test])
df.head()

,Registration Number,Annual Turnover,Cuisine,City,Restaurant Location,Opening Day of Restaurant,Facebook Popularity Quotient,Endorsed By,Instagram Popularity Quotient,Fire Audit,Liquor License Obtained,Situated in a Multi Complex,Dedicated Parking,Open Sitting Available,Restaurant Tier,Restaurant Type,Restaurant Theme,Restaurant Zomato Rating,Restaurant City Tier,Order Wait Time,Staff Responsiveness,Value for Money,Hygiene Rating,Food Rating,Overall Restaurant Rating,Live Music Rating,Comedy Gigs Rating,Value Deals Rating,Live Sports Rating,Ambience,Lively,Service,Comfortability,Privacy
0,60001,42000000.0,"indian,irish",Bangalore,Near Business Hub,14/02/09,84.3,Not Specific,95.8,1,1,1,0,1,2.0,Bar,Arabian,3,0,2,5,5,5,7,10.0,4.0,NaN,NaN,NaN,8.0,8,6,6,6
1,60002,50000000.0,"indian,irish",Indore,Near Party Hub,29/09/08,85.4,Tier A Celebrity,85.0,1,1,1,1,0,2.0,Bar,Greek,3,0,6,6,6,7,8,9.0,NaN,4.0,NaN,NaN,5.0,7,7,3,8
2,60003,32500000.0,"tibetan,italian",Chennai,Near Business Hub,30/07/11,85.0,Tier A Celebrity,68.2,1,1,1,1,0,2.0,Bar,90's,3,0,2,6,5,3,7,8.0,3.0,NaN,NaN,NaN,7.0,10,5,2,8
3,60004,110000000.0,"turkish,nigerian",Gurgaon,Near Party Hub,30/11/08,85.6,Tier A Celebrity,83.6,0,1,1,1,1,1.0,Bar,Arabian,3,1,7,6,5,6,8,9.0,6.0,NaN,NaN,NaN,7.0,7,4,3,5
4,60005,20000000.0,"irish,belgian",Manesar,Near Party Hub,22/02/10,NaN,Tier A Celebrity,76.8,1,1,1,1,1,NaN,Bar,Greek,3,0,10,5,6,4,8,6.0,NaN,2.0,NaN,NaN,NaN,6,2,4,6

In [10]:
# Returns Statistical summary of the data for Numerical Datatype
df.describe(exclude=[object]).T

,count,mean,std,min,25%,50%,75%,max
Registration Number,3993.0,5.655084e+04,1.376814e+04,20001.0,60499.00,61497.00,6.249500e+04,6.349300e+04
Annual Turnover,3493.0,3.072571e+07,2.165125e+07,3500000.0,18000000.00,30000000.00,3.700000e+07,4.000000e+08
Facebook Popularity Quotient,3894.0,7.788768e+01,9.861789e+00,43.0,71.66,79.00,8.566750e+01,9.776000e+01
Instagram Popularity Quotient,3937.0,7.444895e+01,1.099066e+01,40.0,66.00,74.33,8.260000e+01,9.870000e+01
Fire Audit,3993.0,7.918858e-01,4.060098e-01,0.0,1.00,1.00,1.000000e+00,1.000000e+00
Liquor License Obtained,3993.0,9.879790e-01,1.089931e-01,0.0,1.00,1.00,1.000000e+00,1.000000e+00
Situated in a Multi Complex,3993.0,8.056599e-01,3.957414e-01,0.0,1.00,1.00,1.000000e+00,1.000000e+00
Dedicated Parking,3993.0,8.026546e-01,3.980450e-01,0.0,1.00,1.00,1.000000e+00,1.000000e+00
Open Sitting Available,3993.0,8.006511e-01,3.995609e-01,0.0,1.00,1.00,1.000000e+00,1.000000e+00
Restaurant Tier,3944.0,1.927231e+00,2.597895e-01,1.0,2.00,2.00,2.000000e+00,2.000000e+00
Restaurant Zomato Rating,3993.0,2.697471e+00,7.860483e-01,0.0,2.00,3.00,3.000000e+00,5.000000e+00
Restaurant City Tier,3993.0,3.002755e-01,4.584351e-01,0.0,0.00,0.00,1.000000e+00,1.000000e+00
Order Wait Time,3993.0,5.516404e+00,2.861498e+00,1.0,3.00,6.00,8.000000e+00,1.000000e+01
Staff Responsiveness,3993.0,4.542950e+00,1.089309e+00,1.0,4.00,5.00,5.000000e+00,8.000000e+00
Value for Money,3993.0,4.524668e+00,9.102814e-01,1.0,4.00,5.00,5.000000e+00,7.000000e+00
Hygiene Rating,3993.0,4.658152e+00,1.252090e+00,1.0,4.00,5.00,5.000000e+00,9.000000e+00
Food Rating,3993.0,7.515903e+00,1.720532e+00,5.0,6.00,7.00,9.000000e+00,1.000000e+01
Overall Restaurant Rating,3747.0,8.478249e+00,1.289302e+00,6.0,7.00,9.00,1.000000e+01,1.000000e+01
Live Music Rating,3126.0,4.015355e+00,1.004830e+00,1.0,3.00,4.00,5.000000e+00,8.000000e+00
Comedy Gigs Rating,1140.0,2.942105e+00,8.790703e-01,1.0,2.00,3.00,3.000000e+00,6.000000e+00
Value Deals Rating,901.0,3.638180e+00,9.741359e-01,1.0,3.00,4.00,4.000000e+00,7.000000e+00
Live Sports Rating,234.0,3.602564e+00,8.983496e-01,2.0,3.00,4.00,4.000000e+00,6.000000e+00
Ambience,3968.0,6.416583e+00,2.046620e+00,0.0,5.00,7.00,8.000000e+00,1.000000e+01
Lively,3993.0,6.862760e+00,1.849605e+00,0.0,6.00,7.00,8.000000e+00,1.000000e+01
Service,3993.0,4.649136e+00,1.894872e+00,0.0,3.00,5.00,6.000000e+00,1.000000e+01
Comfortability,3993.0,3.360130e+00,2.017964e+00,0.0,2.00,3.00,5.000000e+00,1.000000e+01
Privacy,3993.0,6.265965e+00,1.899764e+00,0.0,5.00,6.00,8.000000e+00,1.000000e+01

In [11]:
# Returns Statistical summary of the data for object Datatype
df.describe(exclude=[np.number]).T

                          count unique             top  freq
Cuisine                    3993     20   tibetan,greek   801
City                       3993    334       Bangalore   627
Restaurant Location        3993      2  Near Party Hub  3036
Opening Day of Restaurant  3993   1870        27/12/09    11
Endorsed By                3993      3    Not Specific  2260
Restaurant Type            3993      4             Bar  3695
Restaurant Theme           3993     34         Arabian  1592

In [12]:
df.duplicated().sum()

0

In [13]:
df.isnull().sum()

Registration Number                 0
Annual Turnover                   500
Cuisine                             0
City                                0
Restaurant Location                 0
Opening Day of Restaurant           0
Facebook Popularity Quotient       99
Endorsed By                         0
Instagram Popularity Quotient      56
Fire Audit                          0
Liquor License Obtained             0
Situated in a Multi Complex         0
Dedicated Parking                   0
Open Sitting Available              0
Restaurant Tier                    49
Restaurant Type                     0
Restaurant Theme                    0
Restaurant Zomato Rating            0
Restaurant City Tier                0
Order Wait Time                     0
Staff Responsiveness                0
Value for Money                     0
Hygiene Rating                      0
Food Rating                         0
Overall Restaurant Rating         246
Live Music Rating                 867
Comedy Gigs Rating               2853
Value Deals Rating               3092
Live Sports Rating               3759
Ambience                           25
Lively                              0
Service                             0
Comfortability                      0
Privacy                             0
dtype: int64

Data -Preprocessing**

In [14]:
#Missing value analysis
null_train=pd.DataFrame()
null_train['Features']=df.isnull().sum().index
null_train['Null values']=df.isnull().sum().values
null_train['% Null values']=(df.isnull().sum().values / df.shape[0])*100
null_train.sort_values(by='% Null values',ascending=False)

                         Features  Null values  % Null values
28             Live Sports Rating         3759      94.139745
27             Value Deals Rating         3092      77.435512
26             Comedy Gigs Rating         2853      71.450038
25              Live Music Rating          867      21.712998
1                 Annual Turnover          500      12.521913
24      Overall Restaurant Rating          246       6.160781
6    Facebook Popularity Quotient           99       2.479339
8   Instagram Popularity Quotient           56       1.402454
14                Restaurant Tier           49       1.227148
29                       Ambience           25       0.626096
23                    Food Rating            0       0.000000
21                Value for Money            0       0.000000
22                 Hygiene Rating            0       0.000000
0             Registration Number            0       0.000000
19                Order Wait Time            0       0.000000
30                         Lively            0       0.000000
31                        Service            0       0.000000
32                 Comfortability            0       0.000000
20           Staff Responsiveness            0       0.000000
17       Restaurant Zomato Rating            0       0.000000
18           Restaurant City Tier            0       0.000000
16               Restaurant Theme            0       0.000000
15                Restaurant Type            0       0.000000
13         Open Sitting Available            0       0.000000
12              Dedicated Parking            0       0.000000
11    Situated in a Multi Complex            0       0.000000
10        Liquor License Obtained            0       0.000000
9                      Fire Audit            0       0.000000
7                     Endorsed By            0       0.000000
5       Opening Day of Restaurant            0       0.000000
4             Restaurant Location            0       0.000000
3                            City            0       0.000000
2                         Cuisine            0       0.000000
33                        Privacy            0       0.000000

In [15]:
# We will drop the columns which are having more than 50% NULL Values
null_columns=null_train[null_train['% Null values']>=50]['Features']
df.drop(columns=null_columns,inplace=True)
np.array(null_columns)     ##Columns that are removed

array(['Comedy Gigs Rating', 'Value Deals Rating', 'Live Sports Rating'],
      dtype=object)

In [16]:
#Missing value Treatment
numeric_cols_train = df.select_dtypes(include=np.number).columns.tolist()
df[numeric_cols_train] = df[numeric_cols_train].apply(lambda x: x.fillna(x.median()), axis=0)

category_cols_train = df.select_dtypes(include='object').columns.tolist()
df[category_cols_train] = df[category_cols_train].apply(lambda x: x.fillna(x.value_counts().index[0]), axis=0)

In [17]:
numeric_cols_train

['Registration Number',
 'Annual Turnover',
 'Facebook Popularity Quotient',
 'Instagram Popularity Quotient',
 'Fire Audit',
 'Liquor License Obtained',
 'Situated in a Multi Complex',
 'Dedicated Parking',
 'Open Sitting Available',
 'Restaurant Tier',
 'Restaurant Zomato Rating',
 'Restaurant City Tier',
 'Order Wait Time',
 'Staff Responsiveness',
 'Value for Money',
 'Hygiene Rating',
 'Food Rating',
 'Overall Restaurant Rating',
 'Live Music Rating',
 'Ambience',
 'Lively',
 'Service',
 'Comfortability',
 'Privacy']

In [18]:
df['Opening Day of Restaurant']=df['Opening Day of Restaurant'].str.slice(-4)
yr=df.groupby(['Opening Day of Restaurant'])[['Annual Turnover']].mean().sort_values('Annual Turnover')
yr

                           Annual Turnover
Opening Day of Restaurant
5/00                            11000000.0
0/96                            12000000.0
8/02                            12000000.0
0/04                            17000000.0
3/13                            17000000.0
...                                    ...
2/02                            45000000.0
0/06                            55650000.0
7/03                            68000000.0
9/06                            93800000.0
9/03                           145750000.0

[114 rows x 1 columns]

In [19]:
d={}
c=1
for i in yr.index:
    d[i]=c
    c=c+1
print(d)

{'5/00': 1, '0/96': 2, '8/02': 3, '0/04': 4, '3/13': 5, '9/13': 6, '6/05': 7, '7/04': 8, '1/02': 9, '4/12': 10, '1/14': 11, '1/03': 12, '6/12': 13, '5/12': 14, '2/13': 15, '2/12': 16, '2/11': 17, '7/12': 18, '1/13': 19, '1/11': 20, '1/12': 21, '6/06': 22, '9/11': 23, '6/11': 24, '0/11': 25, '6/13': 26, '4/10': 27, '6/10': 28, '3/11': 29, '5/09': 30, '5/11': 31, '1/10': 32, '8/10': 33, '0/12': 34, '2/10': 35, '0/10': 36, '7/10': 37, '3/06': 38, '3/10': 39, '2/06': 40, '7/11': 41, '2/05': 42, '8/11': 43, '1/09': 44, '5/06': 45, '8/06': 46, '0/09': 47, '6/03': 48, '7/14': 49, '7/01': 50, '4/13': 51, '3/05': 52, '1/01': 53, '4/11': 54, '9/05': 55, '8/07': 56, '8/05': 57, '1/05': 58, '9/10': 59, '4/04': 60, '2/03': 61, '6/09': 62, '3/09': 63, '7/13': 64, '6/07': 65, '0/08': 66, '6/08': 67, '4/09': 68, '0/02': 69, '4/08': 70, '5/10': 71, '5/07': 72, '2/09': 73, '2/08': 74, '9/09': 75, '7/05': 76, '8/08': 77, '1/07': 78, '8/09': 79, '7/09': 80, '4/06': 81, '3/08': 82, '0/03': 83, '7/08': 84, '8/12': 85, '6/04': 86, '4/05': 87, '3/12': 88, '1/08': 89, '9/08': 90, '7/07': 91, '0/07': 92, '5/08': 93, '5/04': 94, '3/07': 95, '2/07': 96, '9/07': 97, '8/13': 98, '8/03': 99, '2/04': 100, '9/04': 101, '9/12': 102, '1/06': 103, '5/05': 104, '4/07': 105, '1/04': 106, '7/06': 107, '0/05': 108, '5/16': 109, '2/02': 110, '0/06': 111, '7/03': 112, '9/06': 113, '9/03': 114}

In [20]:
df['Opening Day of Restaurant']=df['Opening Day of Restaurant'].map(d)

In [21]:
df['Opening Day of Restaurant']

0      73
1      90
2      41
3      89
4      35
       ..
495    75
496    65
497    28
498    85
499    39
Name: Opening Day of Restaurant, Length: 3993, dtype: int64

In [22]:
tmp=df.groupby(['Cuisine'])[['Annual Turnover']].mean().sort_values('Annual Turnover')
tmp

                     Annual Turnover
Cuisine
irish,belgian           2.360000e+07
chinese,salvadorian     2.573118e+07
welsh,thai              2.658189e+07
cuban,british           2.671875e+07
turkish,sapnish         2.692188e+07
swedish,greek           2.742157e+07
nigerian,cajun          2.742857e+07
peruvian,cuban          2.815299e+07
algerian,korean         2.925000e+07
algerian,belgian        2.928977e+07
algerian,algerian       3.044444e+07
british,belgian         3.051163e+07
british,japanese        3.096984e+07
tibetan,italian         3.119614e+07
indian,irish            3.185377e+07
polish,jewish           3.255039e+07
tibetan,greek           3.353308e+07
japanese,thai           3.402018e+07
turkish,nigerian        3.442886e+07
hawaiian,latvian        3.809091e+07

In [23]:
d={}
c=1
for i in tmp.index:
    d[i]=c
    c=c+1
print(d)

{'irish,belgian': 1, 'chinese,salvadorian': 2, 'welsh,thai': 3, 'cuban,british': 4, 'turkish,sapnish': 5, 'swedish,greek': 6, 'nigerian,cajun': 7, 'peruvian,cuban': 8, 'algerian,korean': 9, 'algerian,belgian': 10, 'algerian,algerian': 11, 'british,belgian': 12, 'british,japanese': 13, 'tibetan,italian': 14, 'indian,irish': 15, 'polish,jewish': 16, 'tibetan,greek': 17, 'japanese,thai': 18, 'turkish,nigerian': 19, 'hawaiian,latvian': 20}

In [24]:
df['Cuisine']=df['Cuisine'].map(d)

In [25]:
temp=df.groupby(['Restaurant Theme'])[['Annual Turnover']].mean().sort_values('Annual Turnover')
temp

                  Annual Turnover
Restaurant Theme
Spoon                1.000000e+07
Grand                1.000000e+07
Umami                1.483333e+07
Cinnamon             2.000000e+07
Resca                2.100000e+07
Ambiance             2.225000e+07
TheGem               2.458333e+07
Picante              2.550000e+07
Marco                2.560000e+07
Belise               2.673333e+07
Moonrise             2.826923e+07
Parsi                2.871901e+07
Delicio              2.877778e+07
Chinese              2.902439e+07
Greek                2.958856e+07
Benedicta            3.037500e+07
Italica              3.050000e+07
90's                 3.070106e+07
Mise En              3.111111e+07
Arabian              3.139824e+07
Nature               3.143731e+07
Flavors              3.200000e+07
Petit                3.210000e+07
Bakery               3.350000e+07
Bettaso              3.375000e+07
Carbone              3.383333e+07
Molino               3.493103e+07
Sage                 3.600000e+07
Cafepro              3.700000e+07
Downtown             3.845000e+07
Savory               3.875000e+07
English              3.990000e+07
Piquant              4.600000e+07
LaCuisine            7.000000e+07

In [26]:
d={}
c=1
for i in temp.index:
    d[i]=c
    c=c+1
print(d)

{'Spoon': 1, 'Grand': 2, 'Umami': 3, 'Cinnamon': 4, 'Resca': 5, 'Ambiance': 6, 'TheGem': 7, 'Picante': 8, 'Marco': 9, 'Belise': 10, 'Moonrise': 11, 'Parsi': 12, 'Delicio': 13, 'Chinese': 14, 'Greek': 15, 'Benedicta': 16, 'Italica': 17, "90's": 18, 'Mise En': 19, 'Arabian': 20, 'Nature': 21, 'Flavors': 22, 'Petit': 23, 'Bakery': 24, 'Bettaso': 25, 'Carbone': 26, 'Molino': 27, 'Sage': 28, 'Cafepro': 29, 'Downtown': 30, 'Savory': 31, 'English': 32, 'Piquant': 33, 'LaCuisine': 34}

In [27]:
df['Restaurant Theme']=df['Restaurant Theme'].map(d)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3993 entries, 0 to 499
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Registration Number            3993 non-null   int64
 1   Annual Turnover                3993 non-null   float64
 2   Cuisine                        3993 non-null   int64
 3   City                           3993 non-null   object
 4   Restaurant Location            3993 non-null   object
 5   Opening Day of Restaurant      3993 non-null   int64
 6   Facebook Popularity Quotient   3993 non-null   float64
 7   Endorsed By                    3993 non-null   object
 8   Instagram Popularity Quotient  3993 non-null   float64
 9   Fire Audit                     3993 non-null   int64
 10  Liquor License Obtained        3993 non-null   int64
 11  Situated in a Multi Complex    3993 non-null   int64
 12  Dedicated Parking              3993 non-null   int64
 13  Open Sitting Available         3993 non-null   int64
 14  Restaurant Tier                3993 non-null   float64
 15  Restaurant Type                3993 non-null   object
 16  Restaurant Theme               3993 non-null   int64
 17  Restaurant Zomato Rating       3993 non-null   int64
 18  Restaurant City Tier           3993 non-null   int64
 19  Order Wait Time                3993 non-null   int64
 20  Staff Responsiveness           3993 non-null   int64
 21  Value for Money                3993 non-null   int64
 22  Hygiene Rating                 3993 non-null   int64
 23  Food Rating                    3993 non-null   int64
 24  Overall Restaurant Rating      3993 non-null   float64
 25  Live Music Rating              3993 non-null   float64
 26  Ambience                       3993 non-null   float64
 27  Lively                         3993 non-null   int64
 28  Service                        3993 non-null   int64
 29  Comfortability                 3993 non-null   int64
 30  Privacy                        3993 non-null   int64
dtypes: float64(7), int64(20), object(4)
memory usage: 998.2+ KB

In [29]:
# Normalize the variables and compute the average normalized value for each row
df['Order Wait Time'] = (df['Order Wait Time'] - 1) / 9
df['Staff Responsiveness'] = (df['Staff Responsiveness'] - 1) / 7
df['Value for Money'] = (df['Value for Money'] - 1) / 6
# Normalize the variables and compute the average normalized value for each row
df['Hygiene Rating'] = (df['Hygiene Rating'] - 1) / 9
df['Food Rating'] = (df['Food Rating'] - 1) / 9
# Normalize the variables and compute the average normalized value for each row
df['Ambience'] = (df['Ambience'] - 0) / 9
df['Lively'] = (df['Lively'] - 1) / 9
df['Service'] = (df['Service'] - 0) / 19
df['Comfortability'] = (df['Comfortability'] - 0) / 9
df['Privacy'] = (df['Privacy'] - 0) / 9
df['Overall Restaurant Rating']= (df['Overall Restaurant Rating'] - 1) / 9
df['Lively and Privacy']=(df['Lively']+df['Privacy'])/2
df = df.drop(['Lively', 'Privacy'], axis=1)

In [30]:
# Normalize Facebook Popularity Quotient and Instagram Popularity Quotient
df['Facebook Popularity Quotient'] = (df['Facebook Popularity Quotient'] - df['Facebook Popularity Quotient'].min()) / (df['Facebook Popularity Quotient'].max() - df['Facebook Popularity Quotient'].min())
df['Instagram Popularity Quotient'] = (df['Instagram Popularity Quotient'] - df['Instagram Popularity Quotient'].min()) / (df['Instagram Popularity Quotient'].max() - df['Instagram Popularity Quotient'].min())

# Combine normalized Facebook Popularity Quotient and Instagram Popularity Quotient into one variable
df['Media Popularity'] = (df['Facebook Popularity Quotient'] + df['Instagram Popularity Quotient']) / 2

# Drop the original Facebook Popularity Quotient and Instagram Popularity Quotient columns
df = df.drop(['Facebook Popularity Quotient', 'Instagram Popularity Quotient'], axis=1)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3993 entries, 0 to 499
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Registration Number          3993 non-null   int64
 1   Annual Turnover              3993 non-null   float64
 2   Cuisine                      3993 non-null   int64
 3   City                         3993 non-null   object
 4   Restaurant Location          3993 non-null   object
 5   Opening Day of Restaurant    3993 non-null   int64
 6   Endorsed By                  3993 non-null   object
 7   Fire Audit                   3993 non-null   int64
 8   Liquor License Obtained      3993 non-null   int64
 9   Situated in a Multi Complex  3993 non-null   int64
 10  Dedicated Parking            3993 non-null   int64
 11  Open Sitting Available       3993 non-null   int64
 12  Restaurant Tier              3993 non-null   float64
 13  Restaurant Type              3993 non-null   object
 14  Restaurant Theme             3993 non-null   int64
 15  Restaurant Zomato Rating     3993 non-null   int64
 16  Restaurant City Tier         3993 non-null   int64
 17  Order Wait Time              3993 non-null   float64
 18  Staff Responsiveness         3993 non-null   float64
 19  Value for Money              3993 non-null   float64
 20  Hygiene Rating               3993 non-null   float64
 21  Food Rating                  3993 non-null   float64
 22  Overall Restaurant Rating    3993 non-null   float64
 23  Live Music Rating            3993 non-null   float64
 24  Ambience                     3993 non-null   float64
 25  Service                      3993 non-null   float64
 26  Comfortability               3993 non-null   float64
 27  Lively and Privacy           3993 non-null   float64
 28  Media Popularity             3993 non-null   float64
dtypes: float64(14), int64(11), object(4)
memory usage: 935.9+ KB

In [32]:
Categorical_columns=["Restaurant Location","Endorsed By","Restaurant Type"]
df = pd.get_dummies(df, columns=Categorical_columns,drop_first=True)

In [33]:
# Outlier Treament Function


def treat_outliers(df, col):
    """
    Treats outliers in a variable

    df: dataframe
    col: dataframe column
    """
    Q1 = df[col].quantile(0.25)  # 25th quantile
    Q3 = df[col].quantile(0.75)  # 75th quantile
    IQR = Q3 - Q1
    Lower_Whisker = Q1 - 1.5 * IQR
    Upper_Whisker = Q3 + 1.5 * IQR

    # all the values smaller than Lower_Whisker will be assigned the value of Lower_Whisker
    # all the values greater than Upper_Whisker will be assigned the value of Upper_Whisker
    df[col] = np.clip(df[col], Lower_Whisker, Upper_Whisker)

    return df


def treat_outliers_all(df, col_list):
    """
    Treat outliers in a list of variables

    df: dataframe
    col_list: list of dataframe columns
    """
    for c in col_list:
        df = treat_outliers(df, c)

    return df

In [34]:
binomial_cols=["Fire Audit","Liquor License Obtained","Situated in a Multi Complex","Dedicated Parking",
"Open Sitting Available","Restaurant Tier",'Restaurant City Tier']

In [35]:
#Outlier Treatment
numerical_cols = [col for col in train.select_dtypes(include=np.number).columns.tolist() if col not in binomial_cols]
print(numerical_cols)
data = treat_outliers_all(train, numerical_cols)

['Registration Number', 'Annual Turnover', 'Facebook Popularity Quotient', 'Instagram Popularity Quotient', 'Restaurant Zomato Rating', 'Order Wait Time', 'Staff Responsiveness', 'Value for Money', 'Hygiene Rating', 'Food Rating', 'Overall Restaurant Rating', 'Live Music Rating', 'Comedy Gigs Rating', 'Value Deals Rating', 'Live Sports Rating', 'Ambience', 'Lively', 'Service', 'Comfortability', 'Privacy']

In [36]:
#drop city column
df=df.drop('City', axis=1)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3993 entries, 0 to 499
Data columns (total 31 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Registration Number                       3993 non-null   int64
 1   Annual Turnover                           3993 non-null   float64
 2   Cuisine                                   3993 non-null   int64
 3   Opening Day of Restaurant                 3993 non-null   int64
 4   Fire Audit                                3993 non-null   int64
 5   Liquor License Obtained                   3993 non-null   int64
 6   Situated in a Multi Complex               3993 non-null   int64
 7   Dedicated Parking                         3993 non-null   int64
 8   Open Sitting Available                    3993 non-null   int64
 9   Restaurant Tier                           3993 non-null   float64
 10  Restaurant Theme                          3993 non-null   int64
 11  Restaurant Zomato Rating                  3993 non-null   int64
 12  Restaurant City Tier                      3993 non-null   int64
 13  Order Wait Time                           3993 non-null   float64
 14  Staff Responsiveness                      3993 non-null   float64
 15  Value for Money                           3993 non-null   float64
 16  Hygiene Rating                            3993 non-null   float64
 17  Food Rating                               3993 non-null   float64
 18  Overall Restaurant Rating                 3993 non-null   float64
 19  Live Music Rating                         3993 non-null   float64
 20  Ambience                                  3993 non-null   float64
 21  Service                                   3993 non-null   float64
 22  Comfortability                            3993 non-null   float64
 23  Lively and Privacy                        3993 non-null   float64
 24  Media Popularity                          3993 non-null   float64
 25  Restaurant Location_Near Party Hub        3993 non-null   uint8
 26  Endorsed By_Not Specific                  3993 non-null   uint8
 27  Endorsed By_Tier A Celebrity              3993 non-null   uint8
 28  Restaurant Type_Buffet/Family Restaurant  3993 non-null   uint8
 29  Restaurant Type_Caffee                    3993 non-null   uint8
 30  Restaurant Type_Gastro Bar                3993 non-null   uint8
dtypes: float64(14), int64(11), uint8(6)
memory usage: 834.5 KB

**Data Modelling**

In [38]:
X = df.drop(["Annual Turnover","Endorsed By_Not Specific"], axis=1)
y = df["Annual Turnover"]

In [39]:
X.shape,y.shape

((3993, 29), (3993,))

In [40]:
x_train=sm.add_constant(X.iloc[0:3493,:],has_constant='add')

In [41]:
x_train

,const,Registration Number,Cuisine,Opening Day of Restaurant,Fire Audit,Liquor License Obtained,Situated in a Multi Complex,Dedicated Parking,Open Sitting Available,Restaurant Tier,Restaurant Theme,Restaurant Zomato Rating,Restaurant City Tier,Order Wait Time,Staff Responsiveness,Value for Money,Hygiene Rating,Food Rating,Overall Restaurant Rating,Live Music Rating,Ambience,Service,Comfortability,Lively and Privacy,Media Popularity,Restaurant Location_Near Party Hub,Endorsed By_Tier A Celebrity,Restaurant Type_Buffet/Family Restaurant,Restaurant Type_Caffee,Restaurant Type_Gastro Bar
0,1.0,60001,15,73,1,1,1,0,1,2.0,20,3,0,0.111111,0.571429,0.666667,0.444444,0.666667,1.000000,4.0,0.888889,0.315789,0.666667,0.722222,0.852398,0,0,0,0,0
1,1.0,60002,15,90,1,1,1,1,0,2.0,15,3,0,0.555556,0.714286,0.833333,0.666667,0.777778,0.888889,4.0,0.555556,0.368421,0.333333,0.777778,0.770449,1,1,0,0,0
2,1.0,60003,14,41,1,1,1,1,0,2.0,18,3,0,0.111111,0.714286,0.666667,0.222222,0.666667,0.777778,3.0,0.777778,0.263158,0.222222,0.944444,0.623696,0,1,0,0,0
3,1.0,60004,19,89,0,1,1,1,1,1.0,20,3,1,0.666667,0.714286,0.666667,0.555556,0.777778,0.888889,6.0,0.777778,0.210526,0.333333,0.611111,0.760350,1,1,0,0,0
4,1.0,60005,1,35,1,1,1,1,1,2.0,15,3,0,1.000000,0.571429,0.833333,0.333333,0.777778,0.555556,4.0,0.777778,0.105263,0.444444,0.611111,0.642165,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,1.0,63489,10,63,1,1,0,1,1,2.0,20,4,0,0.222222,0.571429,0.666667,0.555556,0.555556,0.888889,5.0,0.777778,0.315789,0.666667,0.777778,0.426643,1,0,0,0,0
3489,1.0,63490,17,16,1,1,0,1,0,2.0,15,3,0,0.000000,0.428571,0.666667,0.666667,0.777778,0.888889,4.0,0.444444,0.210526,0.000000,0.722222,0.917833,1,0,0,0,0
3490,1.0,63491,15,30,1,1,1,1,0,2.0,21,3,1,0.777778,0.571429,0.500000,0.555556,0.555556,0.777778,4.0,0.666667,0.157895,0.333333,0.777778,0.744054,1,0,0,0,0
3491,1.0,63492,18,67,1,1,1,1,1,2.0,15,3,1,0.444444,0.571429,0.333333,0.444444,1.000000,0.666667,3.0,0.777778,0.157895,0.333333,0.611111,0.724182,1,0,0,0,0
3492,1.0,63493,15,68,1,1,1,1,1,2.0,15,2,0,0.111111,0.428571,0.500000,0.333333,0.444444,0.888889,1.0,0.666667,0.315789,0.333333,0.888889,0.494775,1,0,0,0,0

In [42]:
x_test=sm.add_constant(X.iloc[3493:,:],has_constant='add')

In [43]:
y_train=y.iloc[0:3493]

In [44]:
x_train.shape,x_test.shape,y_train.shape

((3493, 30), (500, 30), (3493,))

In [45]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
# to compute VIF
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Calculate the VIF values for each predictor
def calc_vif(X):
    vif = pd.DataFrame()
    vif['variable'] = X.columns
    vif['VIF'] = [ variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    return vif

vif = calc_vif(x_train)
print(vif)

                                    variable          VIF
0                                      const  4156.064155
1                        Registration Number     1.005568
2                                    Cuisine     1.027906
3                  Opening Day of Restaurant     1.080234
4                                 Fire Audit     1.009054
5                    Liquor License Obtained     1.231886
6                Situated in a Multi Complex     1.005884
7                          Dedicated Parking     1.010265
8                     Open Sitting Available     1.005418
9                            Restaurant Tier     1.136980
10                          Restaurant Theme     1.085068
11                  Restaurant Zomato Rating     1.263400
12                      Restaurant City Tier     1.056369
13                           Order Wait Time     1.008106
14                      Staff Responsiveness     1.421159
15                           Value for Money     1.529310
16                            Hygiene Rating     1.564157
17                               Food Rating     1.007817
18                 Overall Restaurant Rating     1.130690
19                         Live Music Rating     1.325607
20                                  Ambience     1.465124
21                                   Service     1.339701
22                            Comfortability     1.164832
23                        Lively and Privacy     1.574381
24                          Media Popularity     1.581846
25        Restaurant Location_Near Party Hub     1.101959
26              Endorsed By_Tier A Celebrity     1.231377
27  Restaurant Type_Buffet/Family Restaurant     1.020722
28                    Restaurant Type_Caffee     1.411300
29                Restaurant Type_Gastro Bar     1.033495

In [46]:
# Identify the predictors with high VIF values
high_vif_vars = vif[vif['VIF'] > 5]['variable'].values
print(high_vif_vars)

['const']

In [47]:
# function to compute adjusted R-squared
def adj_r2_score(predictors, targets, predictions):
    r2 = r2_score(targets, predictions)
    n = predictors.shape[0]
    k = predictors.shape[1]
    return 1 - ((1 - r2) * (n - 1) / (n - k - 1))


# function to compute MAPE
def mape_score(targets, predictions):
    return np.mean(np.abs(targets - predictions) / targets) * 100


# function to compute different metrics to check performance of a regression model
def model_performance_regression(model, predictors, target):
    """
    Function to compute different metrics to check regression model performance

    model: regressor
    predictors: independent variables
    target: dependent variable
    """

    # predicting using the independent variables
    pred = model.predict(predictors)

    r2 = r2_score(target, pred)  # to compute R-squared
    adjr2 = adj_r2_score(predictors, target, pred)  # to compute adjusted R-squared
    rmse = np.sqrt(mean_squared_error(target, pred))  # to compute RMSE
    mae = mean_absolute_error(target, pred)  # to compute MAE
    mape = mape_score(target, pred)  # to compute MAPE

    # creating a dataframe of metrics
    df_perf = pd.DataFrame(
        {
            "RMSE": rmse,
            "MAE": mae,
            "R-squared": r2,
            "Adj. R-squared": adjr2,
            "MAPE": mape,
        },
        index=[0],
    )

    return df_perf

In [48]:
x_train.shape,x_test.shape,y_train.shape

((3493, 30), (500, 30), (3493,))

In [49]:
olsmodel = sm.OLS(y_train,x_train).fit()
print(olsmodel.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Annual Turnover   R-squared:                       0.169
Model:                            OLS   Adj. R-squared:                  0.162
Method:                 Least Squares   F-statistic:                     24.29
Date:                Sun, 22 Sep 2024   Prob (F-statistic):          5.26e-117
Time:                        19:23:43   Log-Likelihood:                -63631.
No. Observations:                3493   AIC:                         1.273e+05
Df Residuals:                    3463   BIC:                         1.275e+05
Df Model:                          29
Covariance Type:            nonrobust
============================================================================================================
                                               coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
const                                      7.12e+06   2.16e+07      0.329      0.742   -3.53e+07    4.95e+07
Registration Number                       -224.8148    333.488     -0.674      0.500    -878.668     429.038
Cuisine                                   4.675e+05   5.85e+04      7.988      0.000    3.53e+05    5.82e+05
Opening Day of Restaurant                  1.88e+05   1.32e+04     14.288      0.000    1.62e+05    2.14e+05
Fire Audit                                1.084e+06   8.25e+05      1.313      0.189   -5.34e+05     2.7e+06
Liquor License Obtained                   4.435e+06   3.46e+06      1.283      0.199   -2.34e+06    1.12e+07
Situated in a Multi Complex               -3.16e+06   8.54e+05     -3.700      0.000   -4.83e+06   -1.49e+06
Dedicated Parking                         1.278e+06   8.46e+05      1.511      0.131    -3.8e+05    2.94e+06
Open Sitting Available                    5.468e+05   8.41e+05      0.650      0.516    -1.1e+06     2.2e+06
Restaurant Tier                          -9.074e+06   1.38e+06     -6.578      0.000   -1.18e+07   -6.37e+06
Restaurant Theme                          4.552e+05    1.1e+05      4.127      0.000    2.39e+05    6.72e+05
Restaurant Zomato Rating                  1.505e+06   4.79e+05      3.144      0.002    5.67e+05    2.44e+06
Restaurant City Tier                     -1.344e+06   7.51e+05     -1.789      0.074   -2.82e+06    1.29e+05
Order Wait Time                            -6.9e+05   1.06e+06     -0.650      0.516   -2.77e+06    1.39e+06
Staff Responsiveness                      6.405e+06   2.56e+06      2.503      0.012    1.39e+06    1.14e+07
Value for Money                           3.618e+06   2.72e+06      1.329      0.184   -1.72e+06    8.96e+06
Hygiene Rating                            1.057e+07      3e+06      3.527      0.000    4.69e+06    1.64e+07
Food Rating                               8.788e+05   1.76e+06      0.500      0.617   -2.57e+06    4.33e+06
Overall Restaurant Rating                 4.579e+06   2.56e+06      1.789      0.074    -4.4e+05     9.6e+06
Live Music Rating                         9.372e+05   4.33e+05      2.164      0.031    8.82e+04    1.79e+06
Ambience                                 -5.428e+06   1.79e+06     -3.035      0.002   -8.93e+06   -1.92e+06
Service                                   1.768e+06   3.93e+06      0.450      0.653   -5.94e+06    9.47e+06
Comfortability                           -3.844e+06   1.63e+06     -2.351      0.019   -7.05e+06   -6.39e+05
Lively and Privacy                        2.889e+05    2.3e+06      0.125      0.900   -4.23e+06    4.81e+06
Media Popularity                          1.618e+07   2.58e+06      6.265      0.000    1.11e+07    2.12e+07
Restaurant Location_Near Party Hub        1.716e+06   8.25e+05      2.079      0.038    9.79e+04    3.33e+06
Endorsed By_Tier A Celebrity             -6.341e+05   7.52e+05     -0.843      0.399   -2.11e+06     8.4e+05
Restaurant Type_Buffet/Family Restaurant -1.379e+06      2e+07     -0.069      0.945   -4.06e+07    3.79e+07
Restaurant Type_Caffee                    -1.12e+06   1.67e+06     -0.671      0.502   -4.39e+06    2.15e+06
Restaurant Type_Gastro Bar               -1.268e+06   3.02e+06     -0.419      0.675   -7.19e+06    4.66e+06
==============================================================================
Omnibus:                     4712.669   Durbin-Watson:                   2.013
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1519951.806
Skew:                           7.491   Prob(JB):                         0.00
Kurtosis:                     104.089   Cond. No.                     3.98e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.98e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [50]:
# initial list of columns
predictors = x_train.copy()
cols = predictors.columns.tolist()
cols.remove('const')
# setting an initial max p-value
max_p_value = 1

while len(cols) > 0:
    # defining the train set
    x_train_aux = predictors[cols]

    # fitting the model
    model = sm.OLS(y_train, x_train_aux).fit()

    # getting the p-values and the maximum p-value
    p_values = model.pvalues
    max_p_value = max(p_values)

    # name of the variable with maximum p-value
    feature_with_p_max = p_values.idxmax()

    if max_p_value > 0.05:
        #print("The columns with P Value > 0.05", feature_with_p_max)
        cols.remove(feature_with_p_max)
    else:
        break

selected_features = cols
print(selected_features)

['Cuisine', 'Opening Day of Restaurant', 'Situated in a Multi Complex', 'Restaurant Tier', 'Restaurant Theme', 'Restaurant Zomato Rating', 'Staff Responsiveness', 'Hygiene Rating', 'Live Music Rating', 'Ambience', 'Comfortability', 'Media Popularity', 'Restaurant Location_Near Party Hub']

In [51]:
x_train = x_train[selected_features]
x_test = x_test[selected_features]

**OLS Model**

In [52]:
olsmodel_final = sm.OLS(y_train,x_train).fit()
print(olsmodel_final.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:        Annual Turnover   R-squared (uncentered):                   0.723
Model:                            OLS   Adj. R-squared (uncentered):              0.722
Method:                 Least Squares   F-statistic:                              698.3
Date:                Sun, 22 Sep 2024   Prob (F-statistic):                        0.00
Time:                        19:24:27   Log-Likelihood:                         -63640.
No. Observations:                3493   AIC:                                  1.273e+05
Df Residuals:                    3480   BIC:                                  1.274e+05
Df Model:                          13
Covariance Type:            nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
Cuisine                             4.737e+05   5.79e+04      8.181      0.000     3.6e+05    5.87e+05
Opening Day of Restaurant           1.861e+05   1.27e+04     14.668      0.000    1.61e+05    2.11e+05
Situated in a Multi Complex        -3.008e+06    8.4e+05     -3.582      0.000   -4.65e+06   -1.36e+06
Restaurant Tier                    -8.127e+06      1e+06     -8.111      0.000   -1.01e+07   -6.16e+06
Restaurant Theme                    4.896e+05   9.86e+04      4.967      0.000    2.96e+05    6.83e+05
Restaurant Zomato Rating            1.533e+06   4.64e+05      3.301      0.001    6.23e+05    2.44e+06
Staff Responsiveness                7.146e+06   2.35e+06      3.039      0.002    2.54e+06    1.18e+07
Hygiene Rating                      1.289e+07   2.82e+06      4.563      0.000    7.35e+06    1.84e+07
Live Music Rating                   1.152e+06   4.08e+05      2.820      0.005    3.51e+05    1.95e+06
Ambience                           -4.887e+06   1.52e+06     -3.222      0.001   -7.86e+06   -1.91e+06
Comfortability                     -3.808e+06   1.57e+06     -2.428      0.015   -6.88e+06   -7.32e+05
Media Popularity                    1.737e+07   2.36e+06      7.348      0.000    1.27e+07     2.2e+07
Restaurant Location_Near Party Hub  1.853e+06   7.99e+05      2.318      0.021    2.85e+05    3.42e+06
==============================================================================
Omnibus:                     4715.845   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1515912.798
Skew:                           7.503   Prob(JB):                         0.00
Kurtosis:                     103.948   Cond. No.                         555.
==============================================================================

Notes:
[1] R is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [56]:
olsmodel_final.get_params

AttributeError: 'OLSResults' object has no attribute 'get_params'

In [57]:
# Make predictions on the test set using the trained model
y_test_pred = olsmodel_final.predict(x_test)

# Create a DataFrame with the Registration Number and predicted Annual Turnover values
results = pd.DataFrame({"Registration Number": test["Registration Number"], "Annual Turnover": y_test_pred})

# Convert the Annual Turnover column to integers
results["Annual Turnover"] = results["Annual Turnover"].astype(int)

# Set the Registration Number column as the index
results.set_index("Registration Number", inplace=True)

# Export the results as a CSV file
results.to_csv("Best_Model_OLS_results.csv")

In [52]:
results

                     Annual Turnover
Registration Number
20001                       26172557
20002                       35431827
20003                       25153117
20004                       42014541
20005                       46985590
...                              ...
20496                       34492128
20497                       31636063
20498                       35122050
20499                       42916517
20500                       30644715

[500 rows x 1 columns]

In [58]:
dir(olsmodel_final)

['HC0_se',
 'HC1_se',
 'HC2_se',
 'HC3_se',
 '_HCCM',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abat_diagonal',
 '_cache',
 '_data_attr',
 '_data_in_cache',
 '_get_robustcov_results',
 '_get_wald_nonlinear',
 '_is_nested',
 '_transform_predict_exog',
 '_use_t',
 '_wexog_singular_values',
 'aic',
 'bic',
 'bse',
 'centered_tss',
 'compare_f_test',
 'compare_lm_test',
 'compare_lr_test',
 'condition_number',
 'conf_int',
 'conf_int_el',
 'cov_HC0',
 'cov_HC1',
 'cov_HC2',
 'cov_HC3',
 'cov_kwds',
 'cov_params',
 'cov_type',
 'df_model',
 'df_resid',
 'diagn',
 'eigenvals',
 'el_test',
 'ess',
 'f_pvalue',
 'f_test',
 'fittedvalues',
 'fvalue',
 'get_influence',
 'get_prediction',
 'get_robustcov_results',
 'info_criteria',
 'initialize',
 'k_constant',
 'llf',
 'load',
 'model',
 'mse_model',
 'mse_resid',
 'mse_total',
 'nobs',
 'normalized_cov_params',
 'outlier_test',
 'params',
 'predict',
 'pvalues',
 'remove_data',
 'resid',
 'resid_pearson',
 'rsquared',
 'rsquared_adj',
 'save',
 'scale',
 'ssr',
 'summary',
 'summary2',
 't_test',
 't_test_pairwise',
 'tvalues',
 'uncentered_tss',
 'use_t',
 'wald_test',
 'wald_test_terms',
 'wresid']

In [59]:
olsmodel_final.params

Cuisine                               4.737431e+05
Opening Day of Restaurant             1.861330e+05
Situated in a Multi Complex          -3.008294e+06
Restaurant Tier                      -8.127492e+06
Restaurant Theme                      4.895786e+05
Restaurant Zomato Rating              1.533317e+06
Staff Responsiveness                  7.145870e+06
Hygiene Rating                        1.288544e+07
Live Music Rating                     1.151714e+06
Ambience                             -4.886591e+06
Comfortability                       -3.808487e+06
Media Popularity                      1.737344e+07
Restaurant Location_Near Party Hub    1.852771e+06
dtype: float64